<h1>Optimal Lineups for Draft Kings - Week <%= NFL.current_week%></h1>
<br>


<div class="center col-md-8 col-md-offset-2">
	<%= render partial: "shared/search_form" %>	
	
	<% if !@lineup.nil? %>
		<%= render partial: "shared/opti_table", locals: {table_data: @lineup, ppr: true} %>
	<%else%>
		<h3>Select criteria for your lineup</h3>
	<%end%>
</div>
