<h1>Optimal Lineups for <%=params[:site].upcase%> - Week <%= NFL.current_week%></h1>
<br>


<div class="center col-md-8 col-md-offset-2">
	<%= render partial: "shared/search_form", locals: {site: params[:site].upcase} %>	
	
	<% if !@lineups.nil? %>
		<%= render partial: "shared/opti_table", locals: {table_data: @lineups, ppr: true, positions: @pos} %>
	<%else%>
		<h3>Select criteria for your lineup</h3>
	<%end%>
</div>
