<h1>OPTIMAL</h1>
<br>
<%= render partial: "shared/search_form" %>	

<br>

	<% if !@lineup.nil? %>
		<%= render partial: "shared/opti_table", locals: {table_data: @lineup} %>
	<%else%>
		<h3>Select criteria for your lineup</h3>
	<%end%>



<%= @timer %>
