$grayMediumLight: #eaeaea;
$black: #000;
$cream: #FEF9F0;
$offwhite: #F0F0F0;

/* tech city */
$darkGray: #444444;
$lightGray: #D3D5CF;
$mediumGray: rgba($darkGray,.6);

/*Money colars*/
$red-oj: #D9845B;
$oj: #FFB071;
$dark-green: #35794B;
$green: #A6CE95;
$mint: #BAD9AD;
$light-green: #E0EFDD;


/* final color choice */
$main-bg: $dark-green;
$main-container: $offwhite;


$main-color: $oj;
$accent-color: $offwhite;